<div class="calendar shadow bg-white p-5">
  <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
    <h2 class="month font-weight-bold mb-0 text-uppercase">{{getActualDate()}}</h2>
  </div>
  <p class="font-italic text-muted mb-5">No events for this day.</p>
  <ol class="day-names list-unstyled">
    <li class="font-weight-bold text-uppercase" *ngFor="let day of daysOfWeek">{{day}}</li>
  </ol>

  <ol class="days list-unstyled">
    <li *ngFor="let dayOfMonth of (daysOfMonth$ | async).calendar"
      [ngClass]="{'outside': !dayOfMonth.isInCurrentMonth}">
      <div class="date">{{dayOfMonth.date.date()}}</div>
    </li>
  </ol>
</div>
