<div class="calendar shadow bg-white p-5">
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-success" (click)="changeMonth(false)">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <h2 class="month font-weight-bold mb-0 text-uppercase">{{getActualDate()}}</h2>
    <button type="button" class="btn btn-success" (click)="changeMonth(true)">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>
  <p class="font-italic text-muted mb-5">No events for this day.</p>
  <ol class="day-names list-unstyled">
    <li class="font-weight-bold text-uppercase" *ngFor="let day of daysOfWeek">{{day}}</li>
  </ol>

  <ol class="days list-unstyled">
    <li *ngFor="let dayOfMonth of (daysOfMonth$ | async).calendar"
      [ngClass]="{'outside': !dayOfMonth.isInCurrentMonth}">
      <div class="date">{{dayOfMonth.date.date()}}</div>
    </li>
  </ol>
</div>
