<div class="calendar shadow bg-white p-5">
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-success" (click)="changeMonth(false)">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <h2 class="month font-weight-bold mb-0 text-uppercase">{{getActualDate()}}</h2>
    <button type="button" class="btn btn-success" (click)="changeMonth(true)">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>

    <button class="btn btn-success col offset-md-6 btn-margin-left" (click)="openModal()">
      <span>
        <fa-icon [icon]="faCalendarPlus"></fa-icon>
      </span>
      Add Reminder
    </button>
  </div>
  <p class="mb-5"></p>
  <ol class="day-names list-unstyled">
    <li class="font-weight-bold text-uppercase" *ngFor="let day of daysOfWeek">{{day}}</li>
  </ol>

  <ol class="days list-unstyled">
    <li *ngFor="let dayOfMonth of (daysOfMonth$ | async).calendar"
      [ngClass]="{'outside': !dayOfMonth.isInCurrentMonth, 'weekends-days': isWeekend(dayOfMonth.date),  'actual-day' :
      checkIfIsActualDay(dayOfMonth.date)}" (click)="openModal(dayOfMonth)"
      class="scrollable-day">
      <span class="date">{{dayOfMonth.date.date()}}</span>
      <ng-container *ngFor="let reminder of (reminders$ | async).reminders; let i = index">
        <div class="event" (click)="editReminder(reminder)" [style.background]="reminder.color"
          *ngIf="checkIfReminderIsInTheCurrentDate(dayOfMonth.date, reminder.date)">
          {{reminder.name}} <b>{{reminder.hour}}</b>
          <fa-icon [icon]="faTrashAlt" (click)="deleteReminder(i)" class="margin">
          </fa-icon>
          <img *ngIf="reminder.weather !== '' && reminder.weather !== undefined" [src]="reminder.weather" alt=""
            class="weather-forecast">
        </div>
      </ng-container>
    </li>
  </ol>
  <button class="float-right" (click)="openModal()">
    <fa-icon [icon]="faCalendarPlus"></fa-icon>
  </button>
</div>
